<!-- <!DOCTYPE html>
<html>
  <div class="give-margin">
  <h1 id="head">
    MY EVENTS 
  </h1>

  </div>
<div class="give-margin2">
<p>Event Name<p id="tempo"></p>  Organizer <p id="tempo2"></p>  Event Type<p id="tempo3"></p>
</div>
</html> -->

<mat-card *ngFor="let event of events"class ="example-card">
  <mat-card-header>
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>{{event.time }}</mat-card-subtitle>
    <mat-card-subtitle>{{event.place}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{event.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click) = "createTeam(event.name)">Create Team</button>
    <button mat-button (click) = "createTeam(event.name)">Teams</button>
    <button mat-button (click) = "delete(event.name)">Leave Event</button>
  </mat-card-actions>
</mat-card>